###############################
# Code Analysis               #
###############################
[*.cs]
dotnet_diagnostic.sa1133.severity = none

# CA1812: ... is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, make it static (Shared in Visual Basic).
dotnet_diagnostic.CA1812.severity = none

# CA1062: In externally visible method, validate parameter is non-null before using it. If appropriate, throw an ArgumentNullException when the argument is null or add a Code Contract precondition asserting non-null argument.
dotnet_diagnostic.CA1062.severity = none

# CA1822: Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = none

# CA1707: Remove the underscores from member name
dotnet_diagnostic.CA1707.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
