###############################
# Code Analysis               #
###############################
[*.cs]

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = suggestion
